  <mat-toolbar class="width fixed-top">
    <span class="crypto "  (click)="homePage()" style="cursor: pointer;" >CRYPTOCURRENCY MARKET</span>
    <span class="example-spacer"></span>
    <mat-form-field class="crypto">
      <mat-select (valueChange)="sendCurrency($event)" [(ngModel)]="selectedCurrency">
        <mat-option class="crypto-coin" selected value="EUR">EUR</mat-option>
        <mat-option class="crypto" value="USD">USD</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar>


<router-outlet></router-outlet>